
/* Table stylings */
	.divTable{
	display: table;
	width: 94%;
	margin-left: -9%;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
	}
	.divTableCell, .divTableHead {
		border: 1px solid #999999;
		display: table-cell;
		padding: 3px 10px;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}

	.leftAlign {
	text-align: left;
	width: 25%;
	padding-top: 1%;
	}

	#bonusRemaining {
	font-size: 0.8em;
	}
	
	.alternative {
		background-color: #4cfff6;
	}
	
	.outcome {
		background-color: #4cd8ff;
	}
	
	.result {
		background-color: #ffae4c;
		font-weight: bold;
	}
	
	.bonus {
		background-color: #a296ff;
	}

	#bonusError {
		margin-top: 1%;
	}





# logo {
width: 97%;
height: auto;
}

#logo img {
width: 100%;
height: auto;
}


* {
font-family: Montserrat, sans-serif;
text-align: center;
line-height: 1.4em;
}

.content {
margin-top: 4%;
max-width: 790px;
width: 70%;
margin-left: auto;
margin-right: auto;
}

.image {
max-width: 230px;
width: 30%;
display: inline-block;
}

.image img {
width: 80%;
height: auto;
}

#experimentImages {
width: 70%;
margin: auto;
}

.nextButton {
margin-bottom: 5%;
margin-top: 3%;
float: right;
padding-left: 2%;
padding-right: 2%;
background-color: #c9c9c9;
color: black;
border-radius: 5px;
text-align: center;
position: absolute;
}

.nextButton, a {
text-decoration: none;
font-size: 1.1em;
position: relative;
}

.nextButton:hover {
background-color: #b7b7b7;
font-weight: bold;
}


#page2 {
display: none;
}


.error {
font-size: 0.7em;
margin: -1%;
color: red;
display: none;
}

#consentError {
margin: 0%;
}

fieldset {
border: 2px black solid;
text-align: center;
}

legend {
font-size: 1.2em;
font-weight: bold;
}

#page3 {
display: none;
}

#page4 {
display: none;
}

#page1 {
display: none;
}


/* Input range styling */

input[type=range] {
-webkit-appearance: none;
margin: 10px 0;
width: 100%;
background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #6A717A;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 25px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6A717A;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #6A717A;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 25px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #6A717A;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #6A717A;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 25px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #6A717A;
}
input[type=range]:focus::-ms-fill-upper {
  background: #6A717A;
}